.update-apgspptscp {
  margin-left: 3rem;
  margin-right: 3rem;
  /* display: flex;
  flex-direction: column;
  gap: 3rem; */
}
.headers {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}
.backward {
  all: unset;
}
.backward svg {
  height: 1.5rem;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.main-header {
  width: 32rem;
}
.main-header-text {
  font-weight: bold;
  color: #000000;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: inherit;
}

.main-header-line {
  width: 6rem;
  height: 1rem;
  background-color: #000000;
  margin-top: 0.5em;
  border-radius: 10px;
}

.version {
  width: 18%;
  margin-top: 5rem;
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
}
.polygon-down svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
}

.button-container {
  /* margin-left: 36rem; */
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-button {
  all: unset;
  background-color: var(--primary-color);
  color: #ffffff;
  width: 75%;
  border-radius: 8px;
  font-size: 1.6rem;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
}
.update-apgspptscp .rich-text-editor {
  height: 40rem;
  background-color: #dfdfdf;
  width: 100%;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-size: 2rem;
  border: none;
  padding: 2rem;
}
