.forgot-password-container {
  width: 50rem;
  padding-top: 5rem;
  margin: 4.8rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.forgot-password-form label {
  display: block;
  margin-bottom: 0.6rem;
  text-align: left;
  font: bold 2.2rem/2.8rem "Kantumruy Pro";
  color: var(--font-color);
}

.form-container {
  width: 32rem;
}

.forgot-message {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.error-message {
  color: var(--error-color);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
