.add-tag {
  margin-left: 2.4rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  background-color: #000000;
  padding: 1.4rem;
  color: #ffffff;
  width: 30rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

.label.valid {
  color: #ffc60b;
}
.cat-id {
  font-size: 1.6rem;
}

.inputs {
  display: flex;
  margin-top: 3rem;
  gap: 1.8rem;
}
.image-inputs {
  width: 14rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dropdown {
  width: 32rem;
}
.save-btn {
  margin-top: 5rem;
}

.input input {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  color: var(--placeholder-color);
  background-color: var(--input-bg-color);
  font-family: inherit;
  outline: none;
  width: 30rem;
}

.input input::placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
  padding: 0.3rem;
}

.textarea {
  position: relative;
  width: 30rem;
}

.textarea textarea {
  height: 14rem;
  padding: 1.2rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  color: var(--placeholder-color);
  background-color: var(--input-bg-color);
  font-family: inherit;
  outline: none;
  width: 100%;
  resize: none;
}

.textarea textarea::placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
  padding: 0.3rem;
}

.textarea .counter {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: 1.4rem;
  color: var(--placeholder-color);
  pointer-events: none;
}
.cat-icon-container {
  background-color: var(--input-bg-color);
  height: 14rem;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat-icon-container img {
  height: 8rem;
  width: 8rem;
}
.upload-button {
  display: inline-block;
  padding: 1.2rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
  font-family: var(--font-family);
  width: 100%;
  text-align: center;
}
.file-input {
  display: none;
}
