.new-password-container {
  width: 80rem;
  padding-top: 5rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.new-password-form label {
  display: block;
  margin-bottom: 0.6rem;
  text-align: left;
  font: normal normal bold 2.2rem/2.8rem "Kantumruy Pro";
  color: var(--font-color);
  letter-spacing: 0;
}

.new-password-form-container {
  width: 70rem;
}
.new-password-form {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.left {
  flex: 1;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.action-buttons {
  align-self: flex-end;
}

.forgot-message {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  padding-right: 1rem;
}
