.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  line-height: 1.3;
}
.page-not-found p {
  font-size: 1.8rem;
  color: #000000;
}
