.job-details {
  padding: 2rem 5rem;
  background-color: #ffffff;
  height: 100vh;
  overflow-y: auto;
}
.go-back {
  padding-bottom: 2rem;
}
.go-back-button {
  all: unset;
  cursor: pointer;
}
.go-back-button svg {
  width: 2.4rem;
  height: 2.4rem;
}
.job-title {
  font-size: 2.6rem;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 3rem;
}
.job-details-content {
  padding: 3rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 10px;
}
.job-details-content p {
  font-size: 1.6rem;
}
.job-details-content label {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  color: #000000;
}
.job-details-content ul {
  list-style-type: none;
}
.job-details-content li,
span {
  font-size: 1.5rem;
  line-height: 1.5;
}

.qualifications label {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.job-details::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

.job-details::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 3px;
}

.primary-purpose label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
}
