.hero {
  position: relative;
  overflow: auto;
  max-height: 60vh;
  min-height: 60vh;
}

.hero table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
  overflow-y: auto;
}

.hero-table td {
  padding: 2.5rem 1rem;
  max-width: 16rem;
  white-space: normal;
}

.hero-table th:nth-child(1),
.hero-table td:nth-child(1) {
  padding-left: 2rem;
  width: 15rem;
}
.hero-table th:nth-child(2),
.hero-table td:nth-child(2) {
  width: 75rem;
  padding-right: 20rem;
}

.hero-table tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.hero-table tr:nth-child(even) {
  background-color: var(--input-bg-color);
}
.hero-table tr {
  height: auto;
}
.hero-table th {
  padding: 1.5rem 1rem;
  background-color: var(--input-bg-color);
  color: #000000;
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
}
.hero-table td:last-child {
  padding-left: 2rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.action button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.status {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.pagination {
  padding: 2rem;
  padding-left: 62rem;
  font-size: 1.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--input-bg-color);
  border-top: 4px solid #f7f7f7;
}

.text {
  display: flex;
  gap: 1rem;
}

.rows-per-page input {
  all: unset;
  width: 3rem;
}

.rows-per-page {
  border-bottom: 2px solid #b4b4b4;
  font-weight: 500;
  padding-left: 0.5rem;
  display: flex;
}

ul {
  list-style: none;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}
.pages li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.backward button,
.forward button {
  font-weight: bold;
  cursor: pointer;
  color: #000000;
}

.disabled button {
  color: gray;
  pointer-events: none;
}
.page-number {
  text-align: center;
}
.link-icon {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.no-data-message {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}
.placeholderRow td {
  height: 8.8rem;
}
