.dashboard-companies {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.counter-cards {
  display: flex;
  justify-content: space-between;
}
.status-cards {
  display: flex;
  justify-content: space-between;
}
