/* Login Container */
.login-container {
  width: 60rem;
  margin: 8rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* Form Elements */
.login-form label {
  display: block;
  margin-bottom: 0.6rem;
  font: bold 2.2rem/2.6rem var(--font-family);
  color: var(--font-color);
}

.form-container {
  width: 32rem;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

/* Error Message */
.error-message {
  color: var(--error-color);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

/* Reset Link */
.reset-link {
  font-size: 1.6rem;
}

.reset-link a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
}

.reset-link a:hover {
  text-decoration: underline;
}

/* First-time Text */
.first-time-text {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.first-time-text a {
  color: var(--secondary-color);
  font-weight: 500;
}
