.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 0.8rem 2.5rem;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 101;
}

.deletion-reason-modal {
  width: 48rem;
  display: flex;
  flex-direction: column;
}
.deletion-reason-modal h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.2px;
  padding: 1.5rem;
}
.deletion-reason-modal h3 {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}
.deletion-reason-content {
  margin: 1.2rem 0 1.5rem 0;
  font-size: 1.7rem;
  line-height: 1.5;
}
.modal-apply-btn {
  background-color: var(--primary-color);
  outline: none;
  border: none;
  padding: 1rem 1.8rem;
  color: white;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: inherit;
  cursor: pointer;
}
.modal-close-icon {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 3rem;
  top: 4rem;
}
.modal-close-icon svg {
  height: 3rem;
  cursor: pointer;
}
.modal-action {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
