.main-container {
  display: grid;
  grid-template-columns: 27rem 1fr;
  column-gap: 3rem;
  background-color: #fcfcfc;
  font-family: "Kantumruy Pro", sans-serif;
  /* height: 100vh; */
  overflow: hidden;
}

.left {
  position: fixed;
  height: 100vh;
  width: 27rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.right {
  margin-right: 1rem;
  margin-bottom: 3rem;
  grid-column: 2;
  background-color: #f7f7f7;
  overflow-y: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  /* height: 100vh; */
}
.right::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

.right::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 2px;
}
