.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  background-color: #000000;
  padding: 1.4rem;
  color: #ffffff;
  width: 30rem;
  border-radius: 8px;
  font-size: 1.2rem;
}
.cat-id {
  font-size: 1.6rem;
}
