.input-field input {
  width: 100%;
  height: 5rem;
  padding: 1rem 1.5rem;
  margin: 0.7rem 0;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  color: var(--font-color);
  background-color: var(--input-bg-color);
  font-family: inherit;
  outline: none;
}

.input-field input::placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
  padding: 0.3rem;
}

.error-message {
  color: var(--error-color);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}
