.email-alerts {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.counter-cards {
  display: flex;
  justify-content: space-between;
}
.status-cards {
  display: flex;
  justify-content: space-between;
}
