.account-details {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.account-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  pointer-events: auto;
}
.profile-img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.username {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  max-width: 10rem;
  min-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}
.action {
  font-weight: bold;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: -13rem;
}
.logout-button {
  all: unset;
  color: #000000;
  cursor: pointer;
}
.logout-text {
  text-transform: uppercase;
  font-size: 1.15rem;
  border-bottom: 2px solid rgb(39, 37, 37);
}
.forward-arrow svg {
  /* margin-right: 0.8rem; */
  margin-bottom: -0.16rem;
  height: 0.9rem !important;
  padding-right: 0.8rem;
}
