.faqs {
  position: relative;
  overflow: hidden;
  max-height: 68vh;
}

.faqs table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
  z-index: 1;
  height: auto;
  min-height: 50vh;
  table-layout: fixed;
}

.faqs-table tbody {
  display: block;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #b4b4b4 #f1f1f1;
}

.faqs-table tbody::-webkit-scrollbar {
  width: 6px;
}

.faqs-table tbody::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 3px;
}

.faqs-table tbody::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.faqs-table tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.faqs-table tbody tr {
  height: 4rem;
}
.faqs thead th {
  position: sticky;
  top: 0;
  background-color: var(--input-bg-color);
  z-index: 9;
}

.faqs-table td {
  padding: 0.9rem 1rem;
  max-width: 50rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.faqs-table th:nth-child(1),
.faqs-table td:nth-child(1) {
  padding-left: 2rem;
  width: 13rem;
}
.faqs-table th:nth-child(2),
.faqs-table td:nth-child(2) {
  width: 50rem;
  padding-right: 2rem;
}

.faqs-table tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.faqs-table tr:nth-child(even) {
  background-color: var(--input-bg-color);
}

.faqs-table th {
  padding: 1.2rem 1rem;
  background-color: var(--input-bg-color);
  color: #000000;
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  max-width: 50rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.faqs-table th:last-child {
  padding-left: 2rem;
}

.sort-icon {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  vertical-align: middle;
  margin-top: -0.4rem;
  margin-left: 0.2rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.status-icon img {
  height: 2.2rem;
  width: 2.8rem;
  cursor: pointer;
}

.action button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.status {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  /* justify-content: center; */
}

.link-icon svg {
  height: 1.1rem;
  cursor: pointer;
}

.pagination {
  padding: 2rem;
  padding-right: 8rem;
  font-size: 1.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.4rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--input-bg-color);
  border-top: 4px solid #f7f7f7;
}

.text {
  display: flex;
  gap: 1rem;
}

.rows-per-page input {
  all: unset;
  width: 3rem;
}

.rows-per-page {
  border-bottom: 2px solid #b4b4b4;
  font-weight: 500;
  padding-left: 0.5rem;
  display: flex;
}

ul {
  list-style: none;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}
.pages li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.backward button,
.forward button {
  font-weight: bold;
  cursor: pointer;
  color: #000000;
}

.disabled button {
  color: gray;
  pointer-events: none;
}
.page-number {
  text-align: center;
}
.link-icon {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.no-data-message {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}

.placeholderRow td {
  height: 4.3rem;
}
